@use "./variables" as *;

// ! Styling Mixins
@mixin h1 {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 900;

  @include tablet {
    font-size: 4.75rem;
    line-height: 7.125rem;
  }

  @include laptop {
    font-size: 6rem;
    line-height: 9rem;
  }
}

@mixin h2 {
  font-size: 2.75rem;
  line-height: 4.125rem;
  font-weight: 800;

  @include tablet {
    font-size: 3.4375rem;
    line-height: 5.125rem;
  }

  @include laptop {
    font-size: 4.125rem;
    line-height: 6.1875rem;
  }
}

@mixin h3 {
  font-size: 2.5rem;
  line-height: 3.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 3.125rem;
    line-height: 4.6875rem;
  }

  @include laptop {
    font-size: 3.75rem;
    line-height: 5.625rem;
  }
}

@mixin h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5625rem;
    line-height: 2.375rem;
  }

  @include laptop {
    font-size: 1.875rem;
    line-height: 2.8125rem;
  }
}

@mixin h5 {
  font-size: 1rem;
  line-height: 2.0625rem;

  @include mobile {
    font-size: 1.125rem;
  }
}

@mixin p1 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  @include laptop {
    font-size: 1.375rem;
    line-height: 2.0625rem;
  }
}

@mixin p2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;

  @include tablet {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

@mixin p3 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 300;

  @include tablet {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// ! CTA Mixins
@mixin work-together {
  padding: 0.25rem 1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 2px solid $superhero;
  font-family: Parkinsans;
  font-weight: 600;
  color: $superhero;
  text-decoration: none;
  text-wrap: nowrap;
  cursor: pointer;
  @include h5;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
    background-color: $superhero;
    color: $cloud;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  &:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 8px 8px;
  }
}

@mixin body-cta {
  display: inline-block;
  text-align: center;
  padding: 0.25rem 1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 2px solid $superhero;
  font-family: Parkinsans;
  font-weight: 600;
  color: $superhero;
  text-decoration: none;
  text-wrap: nowrap;
  cursor: pointer;
  @include h5;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: scale(1.03);
    color: $cloud;
    background-color: $superhero;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  &:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 8px 8px;
  }
}

//  ! Flexbox Mixins
@mixin flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ! Nav Mixins
@mixin nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0rem;
  list-style: none;
  margin: 0;
  padding: 0;

  @include desktop {
    gap: 0.25rem;
  }
}

@mixin nav-link {
  text-wrap: nowrap;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 0.2rem;
  border: 1px solid transparent;

  &:hover {
    transform: scale(1.03);
    background-color: #00000020;
    border: 1px solid $brunswick;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  &:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 8px 8px;
  }
}

@mixin nav-button {
  background-color: transparent;
  font-family: Parkinsans;
  font-weight: 400;
  font-size: 1rem;
  color: $brunswick;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;

  @include desktop {
    font-size: 1.25rem;
  }
}

// ! Media Queries
@mixin mobile {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}
