// ! All Colours
// Base
$slate: #292929;
$cream: #fdf0d5;
$logoRed: #da492c;

// Winter
$darkBlue-winter: #00072d;
$navyBlue-winter: #001c55;
$royalBlue-winter: #0a2472;
$pastelBlue-winter: #0e6ba8;
$iceBlue-winter: #a6e1fa;

// Spring

// Summer

// Fall

// ! Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
