// ! All Colours
// Base
$midnight: #322e34;
$cream: #ffecd1;
$cloud: #f8fffe;
$orange: #fe5722;

// Theme
$brunswick: #31493c;
$wintergreen: #7fd0a7;
$rain: #abc4ab;
$wooden: #deac7a;
$lion: #c79869;
$burgundy: #582324;
$deep: #072540;
$deep2: #092b4a;

// State
$winnergagnon: #22cc6a;
$firered: #da492c;
$superhero: #398dff;

// ! Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
