@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Toolbox Section Styling

.toolbox-container {
  width: 100%;
  min-height: 80rem;
  box-sizing: border-box;
  padding: 0 1.5rem;
  align-items: flex-start;
  background-color: $cloud;
  margin-top: 27rem;

  @include mobile {
    padding: 0 1.75rem;
    min-height: 66rem;
    display: flex;
    align-items: center;
    margin-top: 26rem;
  }

  @include tablet {
    min-height: 64rem;
    margin-top: 28rem;
  }

  @include laptop {
    min-height: 64rem;
    margin-top: 31rem;
  }

  @media (min-width: 416px) and (max-width: 479px) {
    min-height: 62rem;
  }

  @media (min-width: 408px) and (max-width: 415px) {
    min-height: 80rem;
  }

  &__heading {
    margin-top: 23rem;
    color: $deep;

    @include tablet {
      margin-top: 25rem;
    }
  }

  &__text {
    margin-bottom: 2rem;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__divider {
    width: 13.5rem;

    @include mobile {
      width: 15.5rem;
    }

    @include tablet {
      width: 16rem;
    }

    @include laptop {
      width: 19rem;
    }
  }

  &__content {
    @include mobile {
      max-width: 28rem;
    }

    @include tablet {
      max-width: 38rem;
    }

    @include laptop {
      max-width: none;
      width: 50rem;
    }

    @include desktop {
      width: 67.5rem;
    }
  }
}

.toolbox-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @include mobile {
      min-width: 26rem;
      max-width: 26rem;
      margin-top: 3rem;
    }

    @include tablet {
      min-width: 35rem;
      max-width: 35rem;
      margin-top: 3.5rem;
    }

    @include laptop {
      min-width: 45rem;
      max-width: 45rem;
      margin-top: 2rem;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: fit-content;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
  }

  &__item {
    @include p2;
    color: $deep;
    cursor: pointer;
    position: relative;
    width: fit-content;
    transition: color 0.3s ease-in-out;
    font-family: Europa Light;

    &:hover,
    &.active {
      color: $superhero;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $orange;
        transition: width 0.3s ease-in-out;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $orange;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__divider {
    border: none;
    border-left: 1px solid $superhero;
    margin: 0 1.5rem 0 1rem;
    min-height: 13.75rem;

    @include mobile {
      margin: 0 1.5rem;
    }

    @include tablet {
      margin: 0 2rem;
      min-height: 16.75rem;
    }

    @include laptop {
      margin: 0 3rem;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; // Ensures no content spills during animation

    &.slide-out {
      animation: slideOut 0.5s ease-in-out forwards;
    }

    &.slide-in {
      animation: slideIn 0.5s ease-in-out forwards;
    }
  }

  &__icon-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include mobile {
      gap: 1.25rem;
    }

    @include tablet {
      gap: 1.5rem;
    }

    @include laptop {
      gap: 2rem;
    }
  }

  &__icon-item {
    display: flex;
    min-width: 5.4rem;
    max-width: 5.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid $superhero;
    padding: 1rem 0.5rem;
    background-color: $cloud;
    cursor: pointer;
    z-index: 3;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &--img {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--name {
      font-size: 0.875rem;
      text-align: center;
      color: $deep;
      text-wrap: wrap;
    }

    &:hover {
      border-color: $orange;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }
}
