@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Landing Page Styling
.landing-page {
  @include flex-centre;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: $brunswick;
  position: relative;
  overflow: hidden;

  &__rotating-cube {
    perspective: 1000px;
    display: inline-block;
  }
}

// ! Line Container
.line-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 36rem;
  left: 50vw;
  z-index: 0;

  @include mobile {
    top: 39rem;
  }

  @include tablet {
    top: 46rem;
  }

  @include laptop {
    top: 44rem;
  }

  @include desktop {
    top: 45rem;
  }

  &__title {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    color: $deep;
    cursor: pointer;
    margin: 0.25rem;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: $superhero;
    }
  }

  &__line {
    width: 1px;
    height: 21rem;
    background: $deep;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: $superhero;
    }

    @include tablet {
      height: 23rem;
    }

    @include laptop {
      height: 25rem;
    }
  }
}

// ! Hero Section Styling
.hero-section {
  display: flex;
  width: 100%;
  margin-top: 6rem;
  flex-direction: column-reverse;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    gap: 7%;
  }

  @include laptop {
    margin-top: 8rem;
  }
}

.hero-wrapper {
  display: flex;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 100%;

  @include mobile {
    justify-content: center;
  }
}

// ! About Section Styling
.about-section {
  @include flex-centre;
  background-color: $cloud;
  width: 100%;
  margin-top: 27rem;
  border-top: 1px solid rgb(227, 227, 227);
  border-bottom: 1px solid rgb(227, 227, 227);

  @include tablet {
    margin-top: 30rem;
  }

  @include laptop {
    margin-top: 32rem;
  }

  @include desktop {
    margin-top: 32rem;
  }
}

.about-wrapper {
  @include flex-centre;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 1s ease-out, transform 1s ease-out;

  &__visible {
    opacity: 1;
    transform: translateY(0);
  }
}

// ! Projects Section Styling
.projects-section {
  @include flex-centre;
  background-color: $cloud;
  width: 100%;
  padding: 3rem 1.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(227, 227, 227);

  @include mobile {
    padding: 3rem 1.75rem;
  }

  @include tablet {
    padding: 5rem 2.25rem;
  }

  @include laptop {
    padding-top: 5rem;
  }
}

.projects-wrapper {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 1s ease-out, transform 1s ease-out;

  @include tablet {
    max-width: 45rem;
    margin: auto;
  }

  @include laptop {
    margin: 0;
    justify-content: center;
    max-width: 56rem;
  }

  @include desktop {
    max-width: 85rem;
    min-width: 70rem;
  }

  &__visible {
    opacity: 1;
    transform: translateY(0);
  }
}

// ! Contact Section Styling
.contact-section {
  background-color: $cloud;
  width: 100%;
  @include flex-centre;
}

.contact-wrapper {
  @include flex-centre;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 1s ease-out, transform 1s ease-out;

  &__visible {
    opacity: 1;
    transform: translateY(0);
  }
}
