@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Landing Page Styling
.landing-page {
  @include flex-centre;
  flex-direction: column;
  width: 100%;
  margin: auto;
  color: $brunswick;
  position: relative;

  &__rotating-cube {
    perspective: 1000px;
    display: inline-block;
  }
}

// ! Line Container
.line-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 24rem;
  left: 50vw;
  z-index: 0;

  @include mobile {
    top: 24rem;
  }

  @include tablet {
    top: 35rem;
  }

  @include laptop {
    top: 41rem;
  }

  @include desktop {
    top: 42.5rem;
  }

  &__title {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    color: $cloud;
    cursor: default;
    margin: 0.25rem;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: $orange;
    }
  }

  &__line {
    width: 1px;
    height: 18rem;
    background: $cloud;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: $orange;
    }

    @include tablet {
      height: 22rem;
    }
  }
}

// ! Hero Section Styling
.hero-section {
  display: flex;
  width: 100%;
  margin-top: 6rem;
  flex-direction: column-reverse;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    gap: 7%;
  }

  @include laptop {
    margin-top: 8rem;
  }
}

.hero-wrapper {
  @include flex-centre;
}

// ! About Section Styling
.about-section {
  @include flex-centre;
  background-color: $cloud;
  width: 100%;
  margin-top: 23.5rem;

  @include tablet {
    margin-top: 24rem;
  }

  @include laptop {
    margin-top: 23rem;
  }

  @include desktop {
    margin-top: 23rem;
  }
}

.about-wrapper {
  @include flex-centre;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 1s ease-out, transform 1s ease-out;

  &__visible {
    opacity: 1;
    transform: translateY(0);
  }
}

// ! Projects Section Styling
.projects-section {
  @include flex-centre;
  background-color: transparent;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;

  @include mobile {
    padding: 1.75rem;
  }

  @include tablet {
    padding: 2.25rem 0;
  }

  @include laptop {
    padding-top: 2.75rem;
  }

  @include desktop {
    padding: 2.75rem 3rem;
  }
}

.projects-wrapper {
  display: flex;
  align-items: center;

  @include tablet {
    max-width: 45rem;
    margin: auto;
  }

  @include laptop {
    margin: 0;
    justify-content: center;
    max-width: 56rem;
  }

  @include desktop {
    max-width: 85rem;
    min-width: 70rem;
  }
}

// ! Contact Section Styling
.contact-section {
  background-color: $cloud;
  width: 100%;
  @include flex-centre;
}

.contact-wrapper {
  @include flex-centre;
}
