@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Page Styling
body {
  background-color: $rain;
}

// ! Root variables for in-line JS
:root {
  --ice-blue: #{$rain};
}

// ! Main Styling
.landing-page {
  @include flex-centre;
  width: 100%;
  margin: auto;
  color: $brunswick;
  position: relative;

  &__rotating-cube {
    perspective: 1000px;
    display: inline-block;
  }

  &__line-container {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 33rem;
    left: 50vw;
    z-index: -1;

    &--title {
      writing-mode: vertical-rl;
      text-orientation: sideways;
      transform: rotate(180deg);
      color: $lion;
      margin: 0.25rem;

      &:hover {
        color: $deep;
      }
    }

    &--line {
      width: 1px;
      height: 16rem;
      background: $lion;
      transition: background 0.1s ease-in-out;

      &:hover {
        background: $deep;
      }
    }
  }
}

.hero-wrapper {
  display: flex;
  width: 100%;
  margin-top: 6rem;
  flex-direction: column-reverse;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 7%;
  }

  // &__headshot {
  //   @include flex-centre;
  //   opacity: 0;
  //   margin-top: 20rem;
  //   cursor: default;
  //   position: relative;
  //   transform: translateY(2rem);
  //   display: hidden;
  //   gap: 2rem;
  //   transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  //   @include tablet {
  //     margin-top: 0;
  //   }

  //   &--img {
  //     width: 10rem;
  //     border-radius: 0.3rem;
  //     opacity: 0;
  //     transform: translateY(2rem);
  //     transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  //     @include mobile {
  //       width: 11rem;
  //     }

  //     @include tablet {
  //       width: 13.5rem;
  //       margin-top: 0;
  //     }

  //     @include laptop {
  //       width: 18rem;
  //     }

  //     &.fade-in {
  //       opacity: 1;
  //       transform: translateY(0);
  //     }
  //   }

  //   &.fade-in {
  //     opacity: 1;
  //     transform: translateY(0);
  //   }

  //   &--text {
  //     font-family: Parkinsans;
  //     width: 6.8rem;
  //     text-align: center;
  //     font-size: 0.75rem;
  //     transform: rotate(-20deg);
  //   }
  // }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-direction: column;
    }

    @include laptop {
      align-items: baseline;
    }

    &--hello {
      @include h1;
      text-align: center;
      margin: 2.5rem 0 0 0;

      @include laptop {
        margin-top: 7rem;
      }

      @include desktop {
        margin-top: 8.5rem;
      }
    }

    &--h2 {
      @include h2;
      margin: 0.5rem 0;
    }

    &--h3 {
      @include h3;
      margin: 1rem 0;
    }

    &--h4 {
      text-wrap: nowrap;
      @include h4;
      font-size: 2rem;
    }

    &--highlight {
      color: $orange;
      font-size: 4.75rem;

      @include mobile {
        font-size: 5rem;
      }

      @include tablet {
        font-size: 5.25rem;
      }

      @include laptop {
        font-size: 5.5rem;
      }
    }

    &--group {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include laptop {
        flex-direction: row;
        text-wrap: nowrap;
        gap: 1.5rem;
        justify-content: center;
        align-items: baseline;
        margin-bottom: 1rem;
      }
    }
  }

  &__rotating-cube {
    width: 100%;
  }

  &__cube-container {
    @include flex-centre;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
    gap: 1rem;

    @include mobile {
      gap: 1.25rem;
    }

    @include tablet {
      gap: 1.5rem;
      width: 100%;
    }
  }
}

// ! Rotating Cube Styling
// Cube container
.cube {
  width: 10rem;
  height: 2.25rem;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 14s infinite ease-in-out;

  @include laptop {
    height: 3.25rem;
  }
}

// Face styling
.face {
  position: absolute;
  width: 11rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-wrap: nowrap;
  border: 2px solid $wintergreen;
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 1px;

  @include mobile {
    width: 12rem;
    font-size: 1.1rem;
  }

  @include tablet {
    width: 14.5rem;
    font-size: 1.35rem;
    padding: 1.25rem 1rem;
  }

  @include laptop {
    width: 29rem;
    height: 3.25rem;
    font-size: 2rem;
    padding: 1.5rem;
  }

  &__period {
    color: $rain;
  }
}

// Positionings for each face
.front {
  transform: rotateX(0deg) translateZ(1.12rem);
  background-color: $cream;
  color: $orange;

  @include tablet {
    transform: rotateX(0deg) translateZ(1.365rem);
  }

  @include laptop {
    transform: rotateX(0deg) translateZ(1.6rem);
  }
}

.bottom {
  transform: rotateX(270deg) translateZ(1.12rem);
  background-color: $orange;
  color: $cream;

  @include tablet {
    transform: rotateX(270deg) translateZ(1.365rem);
  }

  @include laptop {
    transform: rotateX(270deg) translateZ(1.6rem);
  }
}

.back {
  transform: rotateX(180deg) translateZ(1.12rem);
  background-color: $cream;
  color: $deep;

  @include tablet {
    transform: rotateX(180deg) translateZ(1.365rem);
  }

  @include laptop {
    transform: rotateX(180deg) translateZ(1.6rem);
  }
}

.top {
  transform: rotateX(90deg) translateZ(1.12rem);
  background-color: $deep;
  color: $cream;

  @include tablet {
    transform: rotateX(90deg) translateZ(1.365rem);
  }

  @include laptop {
    transform: rotateX(90deg) translateZ(1.6rem);
  }
}

// ! Keyframes
// Cube Rotation
@keyframes rotateCube {
  0%,
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(0deg);
  }
}

// Fade-In from Bottom
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
