@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~hamburgers/_sass/hamburgers/hamburgers";

html {
  margin: 0;
}

body {
  font-family: Lexend;
  font-weight: 300;
  font-size: 1rem;
  color: $cloud;
  background-color: $deep;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.125rem; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: $superhero; /* The scroller's color */
  border: none; /* Remove any default border */
}

::-webkit-scrollbar-track {
  background-color: none; /* Track background */
}
