@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~hamburgers/_sass/hamburgers/hamburgers";

html {
  margin: 0;
}

body {
  font-family: Parkinsans;
  font-weight: 300;
  font-size: 1rem;
  color: $cream;
  background-color: $slate;
  margin: 0;
}
