@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.footer {
  background-color: $cloud;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__divider {
    border: none;
    border-top: 1px solid rgb(227, 227, 227);
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__anchor {
    @include flex-centre;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;

    @include mobile {
      margin-top: 3rem;
    }

    &--github {
      width: 2rem;
      filter: invert(35%) brightness(210%);
      cursor: pointer;
      transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;

      @include mobile {
        width: 2.25rem;
      }

      @include tablet {
        width: 2.75rem;
      }

      @include laptop {
        width: 3rem;
      }

      &:hover {
        transform: scale(1.05);
        filter: none;
      }

      &:active {
        transform: scale(1.02);
      }
    }

    &--linkedin {
      width: 6rem;
      filter: invert(60%) sepia(90%) saturate(10%) hue-rotate(180deg)
        brightness(140%) contrast(85%);
      cursor: pointer;
      transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;

      @include mobile {
        width: 6.5rem;
      }

      @include tablet {
        width: 7.5rem;
      }

      @include laptop {
        width: 8rem;
      }

      &:hover {
        transform: scale(1.03);
        filter: none;
      }

      &:active {
        transform: scale(1.01);
      }
    }
  }

  &__copyright {
    @include p3;
    font-family: Europa Light;
  }

  &__outro {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 3rem 0;
  }

  &__made-with {
    @include p3;
    font-family: Europa Light;
  }

  &__heart-icon {
    width: 2rem;
    margin: 0 0.25rem;
    cursor: pointer;
    transition: animation 0.3s ease;

    &:hover {
      animation: heartbeat 0.9s infinite;
    }
  }

  &__love {
    @include p2;
    font-family: Europa bold;
  }
}

// ? Keyframe Animations
// Heartbeat animation for the /forthedogs link icon
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
