@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.contact {
  display: flex;
  flex-direction: column;
  margin: 4rem 1.5rem 3rem 1.5rem;
  width: 100%;

  @include mobile {
    margin: 4rem 1.75rem 4rem 1.75rem;
  }

  @include tablet {
    margin: 6rem 2.75rem 5rem 2.75rem;
  }

  @include laptop {
    margin: 7rem 3rem 6rem 3rem;
  }

  &__heading {
    @include h2;
    color: $deep;
    margin: 0;
  }

  &__divider {
    border: 1px solid $superhero;
    width: 17.5rem;
    margin: 0.25rem 0 2rem 0;

    @include mobile {
      width: 18rem;
      margin-bottom: 2.5rem;
    }

    @include tablet {
      width: 22rem;
      margin-bottom: 3.5rem;
    }

    @include laptop {
      width: 24rem;
      margin-bottom: 4rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    // width: 100%;
    overflow: visible;

    @include tablet {
      flex-direction: row;
      justify-content: center;
    }

    @include laptop {
      gap: 0rem;
    }

    &--divider {
      width: 100%;
      border: 0.5px solid $superhero;
    }
  }

  &__tile {
    @include contact-tile;

    &--heading {
      font-family: Europa Bold;
      margin: 0 0 1rem 0;

      @include tablet {
        font-size: 1.3rem;
        text-align: center;
      }

      @include laptop {
        font-size: 1.6rem;
      }
    }

    &--description {
      font-style: italic;
      font-size: 0.85rem;
      font-family: Europa Light;
      text-align: center;

      @include tablet {
        font-size: 0.9rem;
      }

      @include laptop {
        font-size: 1rem;
      }
    }
  }
}

.tile-hovered {
  box-shadow: $cloud 0px 2px 8px 0px;
  background-color: $deep;
  color: $cloud;
  z-index: 2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  @include tablet {
    margin-top: 2rem;
    width: 35rem;
  }

  @include laptop {
    width: 40rem;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &__heading {
    @include h2;
    color: $deep;
  }

  &__divider {
    border: 1px solid $superhero;
    width: 100%;
    max-width: 21.75rem;
    margin: 0 0 2rem 0;

    @include mobile {
      max-width: none;
      width: 22.5rem;
    }

    @include tablet {
      width: 27rem;
    }

    @include laptop {
      width: 29.5rem;
    }
  }

  &__description {
    font-family: Europa Light;
    margin: 0 0 1.5rem 0;

    @include mobile {
      margin: 0.5rem 0 2rem 0;
    }

    @include tablet {
      margin: 1rem 0 2.5rem 0;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 0 1rem 0;
  }

  &__label {
    @include p2;

    @include laptop {
      font-size: 1rem;
    }
  }

  &__input {
    padding: 0.25rem 0.5rem;
    font-family: Europa Light;
    @include p3;
    color: $deep;
    height: 1.5rem;
    outline: none;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 0.15rem;
    line-height: 1.4rem;

    &:hover {
      border-color: $deep;
    }

    &:focus {
      border-color: $superhero;
    }

    &::placeholder {
      font-family: Europa Light;
      color: rgb(202, 199, 199);
      @include p3;
    }
  }

  &__textarea {
    @extend .contact-form__input;
    resize: none;
    height: 10rem;
  }

  &__submit {
    font-family: Europa Regular;
    @include body-cta;
    width: fit-content;
    align-self: flex-end;
    margin-top: 1rem;

    @include mobile {
      margin-top: 1.5rem;
    }
  }
}
