@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.projects {
  display: flex;
  flex-direction: column;
  max-width: 45rem;

  &__heading {
    color: $cloud;
    margin: 1rem 0 0 0;
  }

  &__divider {
    width: 8rem;
    margin: 0.5rem 0;
    border: 1px solid $cloud;
  }
}

.projects-container {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  flex-direction: column;
}
