@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.card-features {
  @include flex-centre;
  margin: 1.5rem 0;

  @include laptop {
    margin: 2rem;
  }

  &__list {
    @include flex-centre;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @include laptop {
      width: 36rem;
    }
  }

  &__item {
    border-radius: 1.5rem;
    padding: 0.45rem 0.65rem;
    background-color: rgba(0, 106, 255, 0.636);
    font-family: Parkinsans;
    letter-spacing: 0.75px;
    color: $cloud;
    cursor: default;
    transition: background-color 0.3s ease-in-out;

    @include laptop {
      padding: 0.65rem 0.75rem;
    }

    &:hover {
      background-color: rgba(0, 145, 255, 0.471);
    }
  }
}
