@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.hero {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  flex-direction: column-reverse;

  @include mobile {
    max-width: 26.875rem;
  }

  @include tablet {
    flex-direction: row;
    gap: 7%;
    max-width: fit-content;
  }

  @include laptop {
    margin-top: 3rem;
  }

  &__canvas {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include laptop {
      align-items: baseline;
    }

    &--hello {
      @include h1;
      font-size: 5rem;
      color: $deep;
      font-family: Parkinsans;
      font-weight: 600;
      margin: 2.5rem 0 0 0;

      @include mobile {
        font-size: 6rem;
      }

      @include tablet {
        margin-top: 4rem;
        font-size: 6.5rem;
      }

      @include laptop {
        margin-top: 7rem;
        margin-bottom: 2rem;
        font-size: 7rem;
      }

      @include desktop {
        margin-top: 8.5rem;
      }
    }

    &--h2 {
      @include h2;
      font-family: Parkinsans;
      font-size: 3rem;
      font-weight: 500;
      color: $deep;
      margin: 0.5rem 0 2rem 0;

      @include mobile {
        font-size: 4rem;
      }

      @include tablet {
        font-size: 4.5rem;
      }

      @include laptop {
        font-size: 5rem;
      }
    }

    &--h3 {
      @include h3;
      margin: 1rem 0;
    }

    &--h4 {
      text-wrap: nowrap;
      @include h4;
      font-family: Parkinsans;
      font-weight: 500;
      font-size: 2rem;
      margin: 1rem 0;
      color: $deep;

      @include mobile {
        font-size: 3rem;
      }

      @include tablet {
        font-size: 4.5rem;
        line-height: 6rem;
      }

      @include laptop {
        font-size: 5rem;
      }
    }

    &--highlight {
      color: $orange;
      font-size: 5rem;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
      margin-top: 0;

      @include mobile {
        font-size: 6rem;
      }

      @include tablet {
        font-size: 6.5rem;
      }

      @include laptop {
        font-size: 7rem;
      }

      &:hover {
        color: $superhero;
      }
    }

    &--group {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      gap: 1.5rem;

      @include tablet {
        gap: 1.5rem;
      }

      @include laptop {
        gap: 0;
        margin: 0;
        flex-direction: row;
        align-items: baseline;
        gap: 2rem;
      }
    }

    &--groupTwo {
      display: flex;
      gap: 1rem;
      align-items: baseline;

      @include tablet {
        gap: 1.2rem;
      }
    }

    &--period {
      color: $superhero;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $orange;
      }
    }
  }

  &__rotating-cube {
    width: 100%;
    max-width: 16.5rem;

    @include tablet {
      width: 26.5rem;
      max-width: none;
    }

    @include laptop {
      width: 100%;
      max-width: 49rem;
    }
  }

  &__cube-container {
    @include flex-centre;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 100%;

    @include mobile {
      gap: 1.25rem;
    }

    @include tablet {
      gap: 1.5rem;
    }
  }
}

// ! Rotating Cube Styling
// Cube container
.cube {
  width: 100%;
  height: 2.25rem;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 12s infinite ease-in-out;

  @include mobile {
    height: 3rem;
  }

  @include laptop {
    height: 4rem;
  }
}

// Face styling
.face {
  position: absolute;
  width: 100%;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-wrap: nowrap;
  border: 2px solid rgb(189, 188, 188);
  color: white;
  font-size: 1.2rem;
  box-sizing: border-box;
  border-radius: 0.5px;

  @include mobile {
    font-size: 1.5rem;
    height: 3rem;
  }

  @include tablet {
    height: 4rem;
    font-size: 2.25rem;
    padding: 1.25rem 1rem;
  }

  @include laptop {
    padding: 1.5rem;
  }

  &__period {
    color: $cloud;
  }
}

// Positionings for each face
.front {
  transform: rotateX(0deg) translateZ(1.12rem);
  background-color: $superhero;
  color: $cloud;

  @include mobile {
    transform: rotateX(0deg) translateZ(1.5rem);
  }

  @include tablet {
    transform: rotateX(0deg) translateZ(2rem);
  }
}

.bottom {
  transform: rotateX(270deg) translateZ(1.12rem);
  background-color: $orange;
  color: $cloud;

  @include mobile {
    transform: rotateX(270deg) translateZ(1.5rem);
  }

  @include tablet {
    transform: rotateX(270deg) translateZ(2rem);
  }
}

.back {
  transform: rotateX(180deg) translateZ(1.12rem);
  background-color: $superhero;
  color: $cloud;

  @include mobile {
    transform: rotateX(180deg) translateZ(1.5rem);
  }

  @include tablet {
    transform: rotateX(180deg) translateZ(2rem);
  }
}

.top {
  transform: rotateX(90deg) translateZ(1.12rem);
  background-color: $orange;
  color: $cloud;

  @include mobile {
    transform: rotateX(90deg) translateZ(1.5rem);
  }

  @include tablet {
    transform: rotateX(90deg) translateZ(2rem);
  }
}

// ! Keyframes
// Cube Rotation
@keyframes rotateCube {
  0%,
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(90deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  75% {
    transform: rotateX(270deg) rotateY(0deg);
  }
}

// Fade-In from Bottom
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
