@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.about-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 1.5rem;
  max-width: 67.5rem;
  margin: auto;

  @include tablet {
    padding: 6rem 2.25rem;
    align-items: flex-start;
  }

  @include laptop {
    padding: 6rem 2.75rem;
  }

  &__link {
    @include body-cta;
    width: auto;
    margin: 2.5rem 0 1rem 0;

    @include mobile {
      margin-top: 3rem;
    }

    @include tablet {
      margin-top: 4rem;
    }

    @include laptop {
      margin-top: 4rem;
    }
  }

  &__text {
    color: $deep;
    @include p2;
    font-family: Europa Light;
    font-size: 1rem;

    @include tablet {
      max-width: 35rem;
      margin-bottom: 0.5rem;
    }

    @include laptop {
      max-width: 45rem;
      margin-bottom: 1rem;
    }

    &--tablet {
      display: none;

      @include tablet {
        display: block;
        margin-top: 1rem;
        color: $deep;
        max-width: 40rem;
        @include p2;
      }

      @include laptop {
        max-width: 45rem;
      }
    }

    &--bold {
      font-weight: 600;
      text-wrap: nowrap;
    }

    &--little {
      text-wrap: nowrap;
      display: inline-block;
      font-family: Parkinsans;
      font-weight: 500;
      transition: transform 0.1s ease;
      cursor: pointer;

      &:hover {
        transform: scale(0.75);
        color: $superhero;
      }

      &:active {
        transform: scale(0.5);
      }
    }
  }
}

.heading-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;

  &__small {
    @include h2;
    color: $deep;

    @include mobile {
      display: none;
    }
  }

  &__mobile {
    display: none;
    color: $deep;

    @include mobile {
      @include h2;
      display: flex;
    }

    @include tablet {
      display: none;
    }
  }

  &__tablet {
    @include h2;
    display: none;
    color: $deep;

    @include tablet {
      display: flex;
    }

    @include laptop {
      display: none;
    }
  }

  &__laptop {
    display: none;

    @include laptop {
      @include h2;
      display: flex;
      color: $deep;
    }
  }

  &__divider {
    border: 1px solid $superhero;
    width: 16.625rem;
    margin: 0 0 2rem 0;

    @include mobile {
      width: 17rem;
      margin-bottom: 3rem;
    }

    @include tablet {
      width: 30.5rem;
      margin-bottom: 4rem;
    }

    @include laptop {
      width: 33.25rem;
      margin-bottom: 4rem;
    }
  }
}

.rotating-word {
  display: inline-block;
  text-align: center;
  transition: opacity 0.85s ease-out, filter 0.85s ease-out;
  opacity: 1;
  font-weight: 600;
  font-family: Europa Bold;
  font-size: 1.125rem;
  width: 4.5rem;
  color: $orange;
  filter: blur(0);

  @include tablet {
    font-size: 1.1rem;
    width: 5rem;
  }
}

.fading {
  opacity: 0;
  filter: blur(0.25rem);
}
