@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Main Styling
.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 100;
  padding: 1rem 1.5rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  @include mobile {
    padding: 1rem 1.75rem;
  }

  @include tablet {
    padding: 1rem 2.25rem;
  }
  @include laptop {
    padding: 2.5rem 2.5rem 2.5rem 1.75rem;
    max-width: 100%;
  }
  @include desktop {
    padding: 2.5rem 2.75rem 2.5rem 2rem;
  }

  &__navs {
    display: none;

    @include laptop {
      display: flex;
      z-index: 1;
      gap: 1rem;
    }
  }

  &__home {
    display: flex;
    justify-content: space-between;

    @include laptop {
      @include flex-centre;
      width: 100%;
      position: absolute;
    }
  }

  &__cta {
    z-index: 1;
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      gap: 0.5rem;
    }

    @include laptop {
      gap: 0.75rem;
    }
  }

  &__logo-name {
    display: none;

    @include tablet {
      display: block;
      transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
      cursor: pointer;
      width: 10rem;
      filter: invert(100%) brightness(250%) saturate(0%);
    }

    @include laptop {
      width: 14rem;
    }

    &:hover {
      transform: scale(1.01);
    }

    &:active {
      transform: scale(0.99);
    }

    &--scrolled {
      filter: none;
    }
  }

  &__logo-cloud {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    width: 4.5rem;
    filter: invert(100%) brightness(250%) saturate(0%);

    @include laptop {
      width: 5.5rem;
    }

    &:hover {
      transform: scale(1.01);
    }

    &:active {
      transform: scale(0.99);
    }

    &--scrolled {
      filter: none;
    }
  }

  &__hire {
    @include flex-centre;
    @include work-together;
    border-color: $cloud;
    font-family: Europa Light;
    box-sizing: border-box;
    // border-radius: 0.2rem;
    margin: 0.25rem 0;
    color: $cloud;
    padding: 0.25rem 0.5rem;

    @include tablet {
      padding: 0.25rem 1rem;
    }

    @include laptop {
      padding: 0.25rem 1.5rem 0 1.5rem;
    }

    &:hover {
      border-color: $superhero;
      background-color: $superhero;
      color: $cloud;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    &--scrolled {
      border-color: $deep;
      color: $deep;

      &:hover {
        border-color: $deep;
        background-color: $deep;
        color: $cloud;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include mobile {
      gap: 1.5rem;
    }

    @include tablet {
      gap: 2rem;
    }

    &--icon {
      height: 1.4rem;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      filter: none;

      &:active {
        transform: scale(0.95);
      }

      @include tablet {
        display: none;
      }
    }

    &--iconScrolled {
      filter: invert(40%);
    }

    &--hamburger {
      @include flex-centre;

      @include laptop {
        display: none;
      }
    }

    &--link {
      display: none;

      @include tablet {
        @include flex-centre;
        @include work-together;
      }

      @include laptop {
        display: none;
      }
    }
  }

  &--scrolled {
    background-color: $cloud;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0.125rem 0.125rem;
    border-bottom: 4px solid $orange;
  }
}

.nav-container {
  @include flex-centre;

  &__list {
    @include nav-list;
  }

  &__item {
    @include nav-link;

    &--button {
      @include nav-button;
    }
  }
}

.nav-link__scrolled {
  color: $deep;

  &:hover {
    font-weight: 600;
    color: $deep;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px; // Adjust thickness as needed
    background-color: $deep; // White border color
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

// ! Extra Scroll Effect Classes

.cta-scrolled {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: $cloud;
  color: $deep;
  border-color: $cloud;

  &:hover {
    background-color: $deep;
    transform: scale(1.03);
    color: $cloud;
    border-color: $deep;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }

  &:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 8px 8px;
  }
}

// ! Third Party Styling Edits
.hamburger {
  padding: 0;
}

.hamburger-box {
  width: 1.5rem;
  @include flex-centre;
}

.hamburger-inner {
  width: 1.5rem;
  height: 0.15rem;
  filter: invert(100%);

  &::before {
    width: 1.5rem;
    height: 0.15rem;
  }

  &::after {
    width: 1.5rem;
    height: 0.15rem;
  }
}

.hamburger-scrolled {
  filter: invert(52%) sepia(86%) saturate(3741%) hue-rotate(204deg)
    brightness(91%) contrast(92%);
}
