@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Main Styling
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0.75rem;
  background-color: transparent;

  @include mobile {
    padding: 1.5rem 1rem;
  }

  @include tablet {
    padding: 2rem 1.5rem;
  }
  @include laptop {
    padding: 1.5rem 2rem;
    max-width: 100%;
  }
  @include desktop {
    padding: 1.5rem;
  }

  &__navs {
    display: none;

    @include laptop {
      display: flex;
      gap: 1rem;
    }
  }

  &__home {
    @include flex-centre;
  }

  &__links {
    display: none;
    @include laptop {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }

  &__hamburger {
    @include laptop {
      display: none;
    }
  }

  &__logo {
    width: 8rem;

    @include mobile {
      width: 9rem;
    }

    @include tablet {
      width: 10rem;
    }

    @include laptop {
      width: 12rem;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__cta {
    @include work-together-button;
    position: relative;
    z-index: 1;

    &--text {
      color: $iceBlue-winter;
      z-index: 2;
    }
  }

  &__z {
    @include laptop {
      width: 1.5rem;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }

    @include desktop {
      width: 2.25rem;
    }

    &--link {
      @include flex-centre;
    }
  }
}

.nav-container {
  @include flex-centre;

  &__list {
    @include nav-list;
  }

  &__item {
    @include nav-link;

    &--button {
      @include nav-button;
    }
  }
}

// ! Third Party Styling Edits
.hamburger {
  padding: 0;
}

.hamburger-inner {
  filter: invert(1) brightness(2);
}
