@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

.process-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin: 3rem 1.5rem 4rem 1.5rem;

  @include mobile {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }

  @include tablet {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}

.process-container {
  display: flex;
  flex-direction: column;
  position: relative;

  @include laptop {
    width: 50rem;
  }

  @include desktop {
    width: 67.5rem;
  }

  &__heading {
    @include h2;
    margin: 0;
  }

  &__text {
    @include p1;
    font-family: Europa Light;
    max-width: 22.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 1px;
    z-index: 1;

    @include mobile {
      max-width: 28rem;
    }

    @include tablet {
      max-width: 38rem;
    }

    @include laptop {
      max-width: 45rem;
    }

    &--bottom {
      margin-top: 1.5rem;
    }

    &--bold {
      font-family: Europa Bold;
    }
  }

  &__body {
    font-size: 1rem;
    z-index: 1;

    @include tablet {
      font-size: 1.125rem;
    }

    @include laptop {
      font-size: 1.25rem;
    }
  }

  &__divider {
    border: none;
    border-bottom: 2px solid $superhero;
    margin: 0 0 2rem 0;
  }

  &__img {
    width: 12rem;
    margin: 0 auto 4rem auto;
    opacity: 0.25;
    position: absolute;
    right: 20px;
    z-index: 0;

    @include mobile {
      width: 14rem;
    }

    @include tablet {
      width: 16rem;
    }
  }
}

.behind-container {
  margin-top: 1rem;
  &__heading {
    font-size: 2rem;
    padding-bottom: 0.25rem;
    margin-top: 3rem;

    @include tablet {
      font-size: 2.25rem;
    }

    @include laptop {
      font-size: 2.75rem;
    }

    @include desktop {
      font-size: 3.25rem;
      width: 100%;
    }
  }

  &__divider {
    width: 17rem;

    @include tablet {
      width: 19rem;
    }

    @include laptop {
      width: 23rem;
    }

    @include desktop {
      width: 27rem;
    }
  }
}

.precision-container {
  margin-top: 20rem;

  @include mobile {
    margin-top: 22rem;
  }

  @include tablet {
    margin-top: 23rem;
  }

  @include laptop {
    margin-top: 27rem;
  }

  @include desktop {
    margin-top: 29rem;
  }

  &__heading {
    margin-top: 3rem;
  }

  &__divider {
    width: 20.5rem;
  }
}

.lifecycle-heading {
  margin-top: 3rem;

  &__divider {
    width: 14.5rem;
  }
}

.accessibility-container {
  &__heading {
    margin-top: 3rem;
  }

  &__divider {
    width: 19.5rem;
  }
}

// ! Toolbox Section Styling

.toolbox-container {
  width: 100%;
  align-items: flex-start;

  &__heading {
    margin-top: 3rem;
  }

  &__divider {
    width: 10.5rem;
  }
}

.toolbox-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;

    @include mobile {
      min-width: 26rem;
      max-width: 26rem;
      margin-top: 3rem;
    }

    @include tablet {
      min-width: 35rem;
      max-width: 35rem;
      margin-top: 4rem;
    }

    @include laptop {
      min-width: 45rem;
      max-width: 45rem;
      margin-top: 4rem;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: fit-content;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
  }

  &__item {
    @include p2;
    cursor: pointer;
    position: relative;
    width: fit-content;
    transition: color 0.3s ease-in-out;
    font-family: Europa Light;

    &:hover,
    &.active {
      color: $cloud;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $superhero;
        transition: width 0.3s ease-in-out;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $superhero;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__divider {
    border: none;
    border-left: 1px solid $cloud;
    margin: 0 1rem;

    @include mobile {
      margin: 0 1.5rem;
    }

    @include tablet {
      margin: 0 2rem;
    }

    @include laptop {
      margin: 0 3rem;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; // Ensures no content spills during animation

    &.slide-out {
      animation: slideOut 0.5s ease-in-out forwards;
    }

    &.slide-in {
      animation: slideIn 0.5s ease-in-out forwards;
    }
  }

  &__icon-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile {
      gap: 1.25rem;
    }

    @include tablet {
      gap: 1.5rem;
    }

    @include laptop {
      gap: 2rem;
    }
  }

  &__icon-item {
    display: flex;
    min-width: 5.4rem;
    max-width: 5.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.2rem;
    padding: 1rem 0.5rem;
    background-color: $cloud;
    cursor: pointer;
    z-index: 3;

    &--img {
      width: 3rem;
      height: 3rem;
      object-fit: contain;
      transition: transform 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    &--name {
      font-size: 0.875rem;
      text-align: center;
      color: $deep;
      text-wrap: wrap;
    }
  }
}

// ! Scroll Container
.scroll-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 42rem;
  left: 30%;
  z-index: 1;

  @include mobile {
    top: 38rem;
  }

  @include tablet {
    top: 35rem;
  }

  @include laptop {
    top: 38rem;
  }

  &__title {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    color: $cloud;
    cursor: default;
    margin: 0.25rem;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: $orange;
    }
  }

  &__line {
    width: 1px;
    height: 20rem;
    background: $cloud;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: $orange;
    }

    @include tablet {
      height: 23rem;
    }

    @include laptop {
      height: 25rem;
    }
  }
}

// ! Keyframe Animations

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
