@use "../../sass/partials/variables" as *;
@use "../../sass/partials/mixins" as *;

// ! Main Page Styling
.process-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  color: $deep;
  background-color: $cloud;

  @include laptop {
    padding-top: 8rem;
  }
}

// ! Intro Section Styling
.process-content {
  @include flex-centre;
  width: 100%;
}

// ! Footer Section Styling
.footer-wrapper {
  @include flex-centre;
  width: 100vw;
}
